/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */
.container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
.appbar{
  display: flex;
  flex-direction: row;
  background-color:  #f7d736;
  align-items: center;
  height: 40px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}
img{
  width:50px;
  height:30px;
  margin-left: 6px;
}
span{
  margin-left: 6px;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.form-card {
  width: 420px;
  border: 0;
  border-radius: 2px;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin:15px auto 15px auto ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}

.form-card-title {
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: bold;
  width: 300px;
  border: 0;
}

.autoresize {
  width: 300px;
  border: 0;
  margin-top: 12px;
  margin-bottom: 2px;
}

.card{
  display: flex;
  flex-direction: column;
  margin:6px 5px 0px 5px;
  border: 1px solid   #4c4c4c;
  height: 100px;
  width: 190px;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  
}

.card-color-1{
  background-color:  #fae890;
}
.card-color-2{
  background-color:  #ef89ba;
}
.card-color-3{
  background-color:  #9de0f5;
}
.card-color-4{
  background-color:  #fae890;
}
.card-color-5{
  background-color:   #abe9c1;
}
.card-color-6{
  background-color:  #ead3a7;
}
.card-color-7{
  background-color:  #ef89ba;
}
.card-color-8{
  background-color:  #9de0f5;
}
.card-color-9{
  background-color:  #fae890;
}
.card-color-10{
  background-color:  #ef89ba;
}
.card-rotation-1{
 transform: rotate(2deg);
}
.card-rotation-2{
   transform: rotate(2deg);
}
.card-rotation-3{
 transform: rotate(-2.5deg)  
}
.card-rotation-4{
  transform: rotate(0.5deg)
}
.card-rotation-5{
  transform: rotate(2deg)
}
.card-rotation-6{
  transform: rotate(0.7deg)}
.card-rotation-7{
  transform: rotate(-2.8deg)}
.card-rotation-8{
  transform: rotate(-2.5deg)}
.card-rotation-9{
  transform: rotate(-2deg)}
.card-rotation-10{
  transform: rotate(-2deg)}


.card:hover{
  background-color:
  #fae890
   ;
}
.card-title{
  font-family: 'Permanent Marker', cursive;
  margin-left: 6px;
}
.card-content{
  margin-left: 6px;
}
/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
